.navbar {
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  margin-top: -20px;
}

.navbar img {
  width: 200px;
  margin: auto;
}

.tombol {
  margin-right: auto;
  margin-top: -40px;
}

.nav-link {
  margin-right: 5px;
  text-transform: uppercase;
  font-size: 15px;
}

.nama {
  opacity: 0;
}

.nav-link:hover::after {
  content: "";
  display: block;
  border-bottom: 3px solid#0b63dc;
  width: 10%;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: -8px;
}

.portofolio img {
  height: 500px;
  margin-top: 50px;
}

.portofolio a {
  margin-bottom: 50px;
}

.btn-dark {
  text-transform: uppercase;
}

.info {
  background-color: white;
  box-shadow: 6px 10px 10px rgba(0, 0, 0, 0.3);
  margin-top: 50px;
}

.company img {
  margin-top: 20px;
  height: 100%;
  width: 100%;
}

.company span,
.event-gambar span {
  background-color: lightblue;
}

.event-gambar img {
  margin-bottom: 30px;
  width: 400px;
}

.event-gambar h5,
.event-gambar a {
  font-weight: bold;
  font-size: 20px;
}

.contact h1 {
  margin-top: 50px;
}

.contact h3,
.contact p,
.contact svg {
  color: blue;
}

.contact h3 {
  margin-left: 60px;
  margin-top: -40px;
  font-weight: 600;
}

.contact-kanan {
  margin-left: 50px;
}

.contact p {
  margin-left: 60px;
}

.contact-map iframe {
  height: 380px;
  width: 420px;
  margin-left: -70px;
}

.contact hr,
.social hr,
.event hr,
.katalog hr,
.tk-paud hr,
.sd hr,
.smp hr,
.sma hr,
.smk hr,
.perguruan-tinggi hr,
.umum-anak hr {
  border-bottom: 3px solid#333;
}

.social h1 {
  margin-top: 30px;
}

.kontak {
  color: blue;
  font-size: 30px;
  font-weight: 700;
  text-align: center;
}

.social-list {
  color: blue;
  font-size: 25px;
}

.social-list img {
  width: 70px;
}

.penerbit {
  color: blue;
  font-size: 20px;
  font-weight: 500;
  text-transform: uppercase;
}

.paragraf {
  color: black;
  font-size: 15px;
}

.paragraf-social {
  margin-left: 80px;
  margin-top: -70px;
}

.icon-facebook {
  margin-left: 80px;
  margin-top: -30px;
}

.katalog h3 {
  margin-top: 150px;
  font-weight: 700;
}

.katalog h4 {
  font-weight: bold;
}

.katalog-gambar img {
  width: 200px;
  margin-top: 30px;

  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  background-color: white;
}

.tk-paud h3,
.sd h3,
.smp h3,
.sma h3,
.smk h3,
.perguruan-tinggi h3,
.umum-anak h3 {
  margin-top: 30px;
}

@media (min-width: 992px) {
  .navbar {
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
    margin-top: -50px;
  }

  .navbar img {
    width: 200px;
    margin: auto;
    margin-top: 30px;
  }

  .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid#0b63dc;
    width: 50%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: -8px;
  }

  .tombol {
    margin-left: 100px;
  }

  .nama {
    margin-left: 50px;
    font-family: viga;
    font-size: 25px;
    text-transform: uppercase;
    margin-top: 40px;
    opacity: 1;
  }

  .nav-link {
    margin-right: 5px;
    text-transform: uppercase;
    font-size: 15px;
    margin-top: 40px;
  }

  .company img {
    margin-top: 20px;
    height: 480px;
    width: 70%;
  }

  .event-gambar img {
    margin-top: 20px;
    height: 380px;
    width: 600px;
  }

  .contact-kanan {
    margin-left: 160px;
  }

  .contact-map iframe {
    height: 380px;
    width: 500px;
    margin-left: auto;
  }
}
